{% extends 'base/base.html' %}

{% block title %}
Product Details
{% endblock %}

{% block content %}

<section class="container py-5">

    <div class="row product-card-details">

        <!-- Gallery -->
        <div class="col-md-6">

            <div id="productCarousel" class="carousel slide mb-4" data-bs-ride="carousel">
                <div class="carousel-inner">

                    {% for image in product.images.all %}
                    <div class="carousel-item {% if forloop.first %}active{% endif %}">

                        <div class="image-wrapper">

                            <!-- Overlay Buttons -->
                            <div class="image-overlay">
                                <a href="{% url 'del_pro_image' image.pk %}" class="delete-btn" title="Delete">
                                    Delete
                                </a>

                                <a href="{% url 'edit_pro_image' image.pk %}" class="edit-btn" title="Edit">
                                    Edit
                                </a>
                            </div>
                            <!-- Image -->
                            <img src="{{ image.img.url }}" class="d-block w-100"
                                alt="product">
                        </div>
                    </div>
                    {% endfor %}

                </div>

                <button class="carousel-control-prev" type="button" data-bs-target="#productCarousel"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </button>

                <button class="carousel-control-next" type="button" data-bs-target="#productCarousel"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </button>
            </div>

            <!-- Thumbnails -->
            <div class="d-flex gap-3 flex-wrap justify-content-center">
                {% for image in product.images.all %}
                <img src="{{ image.img.url }}" data-bs-target="#productCarousel"
                    data-bs-slide-to="{{ forloop.counter0 }}" class="thumb-img shadow-sm">
                {% endfor %}
            </div>

        </div>

        <!-- Product Info -->
        <div class="col-md-6 px-md-5 mt-4 mt-md-0">

            <h2 class="product-title-details">{{ product.title }}</h2>

            <p class="text-muted mt-3 fs-6 product-details-text-muted">
                {{ product.desc }}
            </p>

            <div class="product-price-details mt-3">
                ₹ {{ product.price }}.00
            </div>

            <hr class="my-4">

            <div class="d-flex flex-wrap gap-3 mt-4">
                <a href="#" class="btn btn-primary pro-btn">
                    <i class="bi bi-cart4"></i> Add to Cart
                </a>

                <a href="{% url 'edit_product' product.pk %}" class="btn btn-outline-warning pro-btn">
                    <i class="bi bi-pencil-square"></i> Edit
                </a>

                <a href="{% url 'delete_product' product.pk %}" class="btn btn-outline-danger pro-btn">
                    <i class="bi bi-trash3"></i> Delete
                </a>


                <a href="{% url 'add_images' product.id %}" class="btn btn-outline-secondary">
                    <i class="bi bi-cloud-plus-fill"></i>
                </a>
            </div>

        </div>

    </div>
</section>

{% endblock %}
