<div class="cart-item card shadow-sm">

    <div class="row g-0 align-items-center">

        <!-- Image -->
        <div class="col-md-3 text-center cart-thumb">
            <img src="{{ item.product.thumbnail.url }}" class="img-fluid rounded">
        </div>

        <!-- Details -->
        <div class="col-md-6">
            <div class="card-body">

                <h5 class="cart-product-title">
                    <a href="{% url 'product_details' item.product.pk %}" class="no-decoration text-light">
                        {{ item.product.title }}
                    </a>
                </h5>

                <p class="cart-product-desc text-light">
                    {{ item.product.desc|truncatewords:15 }}
                </p>

                <div class="mt-auto">
                    <div class="product-price mb-2">

                        {% if item.product.discount > 0 %}
                        <!-- Old Price -->
                        <span class="old-price text-muted text-decoration-line-through">
                            ₹ {{ item.product.price }}
                        </span>

                        <!-- Discount Percentage -->
                        <span class="product-discount ms-2">
                            {{ item.product.discount }}%
                        </span>

                        <!-- Offer Price -->
                        <span class="new-price fw-bold ms-2">
                            ₹ {{ item.product.offer_price|floatformat:2 }}
                        </span>

                        {% else %}
                        <!-- Normal Price -->
                        <span class="new-price fw-bold">
                            ₹ {{ item.product.price }}
                        </span>
                        {% endif %}

                    </div>
                </div>

                <div class="cart-controls">
                    {% if item.quantity == 1 %}
                    <button class="btn btn-outline-secondary btn-sm"><i class="bi bi-trash-fill"></i></button>
                    {% else %}
                    <button class="btn btn-outline-secondary btn-sm">-</button>
                    {% endif %}

                    <span class="cart-qty text-light">{{ item.quantity }}</span>

                    <button class="btn btn-outline-secondary btn-sm">+</button>

                    <button class="btn btn-danger btn-sm ms-3 remove-btn">
                        Remove
                    </button>

                </div>

            </div>
        </div>

        <!-- Subtotal -->
        <div class="col-md-3 text-end cart-subtotal">
            <p class="new-price">Total Price</p>
            ₹{{ item.subtotal |floatformat:2}}
        </div>

    </div>

</div>