{% extends 'base/base.html' %}

{% block title %}
Fotgot password
{% endblock %}

{% block content %}


<div class="container">
    <h2>Send otp to Registered Email</h2>

    <form method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label for="email" class="form-lable">
                Email Address
            </label>
            <input type="email" class="form-control" name="email" id="email" required>
        </div>
        <button class="btn btn-primary" type="submit">Send OTP</button>
    </form>
</div>

{% endblock %}